<h3>Добавления поля в форму</h3>
<form method="POST" action="{{ url_for('field.create_field_form', form_uid=form_uid) }}">
    <div>
        <div class="form-fields">
            <div class="form-field">
                <span>Название поля</span>
                <label>
                    <input type="text" name="name_field" placeholder="Название поля">
                </label>
            </div>
            <div class="form-field">
                <span>Описание поля</span>
                <label>
                    <input type="text" name="description_field" placeholder="Описания поля">
                </label>
            </div>
            <div class="form-field">
                <label>
                    <select name="type_field" autofocus required>
                        <option value="none" hidden="">Выберите тип поля</option>
                        <option value="input">Текст (строка)</option>
                        <option value="textarea">Текст (абзац)</option>
                        <option value="select">Один из списка</option>
                    </select>
                </label>
            </div>
            <div class="form-field">
                <input type="submit" onclick="" value="Добавить поле в форму"
                       {% if form.form_uid %}{% else %}disabled{% endif %}>
            </div>
        </div>


    </div>
</form>
