<ul>
    {% if fields_form %}
        {% for field in fields_form %}
            <li>

                <form>
                    <div class="form-fields">
                        <div class="form-field">
                            <label><input value="{{ field[0].name_field }}"></label>
                        </div>
                        <div class="form-field">
                            <label><input value="{{ field[0].description }}"></label>
                        </div>
                        <div class="form-field">
                            <label>
                                <select>
                                    <option selected="selected">
                                        {{ field[1].type_field }}
                                    </option>
                                </select>
                            </label>
                        </div>
                    </div>
                </form>
            </li>
        {% endfor %}
    {% endif %}
</ul>