<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Forms</title>
</head>
<body>

<form>
    <label>
        <select name="type-form" autofocus>
            <option value="none" hidden="">Выберите тип</option>
            <option value="input">Текст (строка)</option>
            <option value="textarea">Текст (абзац)</option>
            <option value="select">Один из списка</option>
        </select>
    </label>
    <button type="submit" onclick=""></button>
</form>


<form id="create-form" method="post" action="{{ url_for('form.form_save') }}">
    <label>
        <input name="form_uid">
    </label>
    <button form="create-form" type="submit">Создать форму</button>
</form>

<script src="{{ url_for('static', filename='js/function_for_form.js') }}" rel="script"></script>
</body>
</html>