
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Forms</title>
    <script src="{{ url_for('static', filename='js/AjaxForm.js') }}" rel="script"></script>

</head>
<body>
<a href="{{ url_for('form.get_form') }}">Создать новую форму</a>

<div>

    <h3>Добавления поля в форму</h3>
    <form action="" method="POST">
        <div>
            <label>
                <input type="text" placeholder="Название поля">
            </label>
            <label>
                <input type="text" placeholder="Описания поля">
            </label>
            <label>
                <select name="type-form" autofocus required>
                    <option value="none" hidden="">Выберите тип поля</option>
                    <option value="input">Текст (строка)</option>
                    <option value="textarea">Текст (абзац)</option>
                    <option value="select">Один из списка</option>
                </select>
            </label>
            <input type="submit" onclick="" value="Добавить поле в форму"
                   {% if form.form_uid %}{% else %}disabled{% endif %}>

        </div>
    </form>

</div>


<div> .</div>
<div> .</div>
<div> .</div>

<div>
    {% include 'change_form.html' %}
</div>
{% if error %}
    <h2>{{ error }}</h2>
{% endif %}

{% if response %}
    <h2>{{ response }}</h2>
{% endif %}

</body>
</html>