<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Forms</title>
    <script src="{{ url_for('static', filename='js/AjaxForm.js') }}" rel="script"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
</head>
<body>
<a href="{{ url_for('form.get_form') }}">Создать новую форму</a>

<div>
    {% include 'create_form/add_field.html' %}
</div>
<div>
    {% include 'create_form/all_fields.html' %}
</div>

<div>
    {% include 'create_form/change_form.html' %}
</div>

<div>
    {% include 'create_form/error_and_response.html' %}
</div>
</body>
</html>